footer
  .container
    .flex_sb
      nav.flex_sb
        li
          a Facebook
        li
          a Instagram
        li
          a Telegram
        li
          a Viber
        li
          a(href="+38 (096) 123 45 67") +38 (096) 123 45 67
      p candy.com © 2021 by MantiCore Development