.footer-support
  .container
    .form_wrap
      .wrap
        h3 Остались вопросы?
        p Мы с удовольствием ответим на них. Оставьте ваши контакты
          | и наш менеджер свяжется с вами в ближайшее время. 
        form.form-wrapper
          input.input-type-one(placeholder="Имя")
          input.input-type-one(placeholder="Телефон")
          button.button_type-one Отправить