header
  .container
    .flex_sb
      a.header_left(href="#")
        img(src='../assets/img/logo.png')
      .header_center
        a.header_link_wrap#button-menu
          img(src='../assets/img/candy.svg')
          span Выбрать конфеты
      .header_right
        .flex_sb
          .header_link_wrap#button-search
            img(src='../assets/img/search.svg')
            span Поиск
          .header_link_wrap
            img(src='../assets/img/basket.svg')
            span 0 грн





