.modal_bg#basket-modal.active
  .container
   .wrap-mod
    .wrap.top
      h2 Корзина
      button.button_type-none  <img alt="закрить" src='../assets/img/close.svg'>
   .product-block
      .products-wrapper
        .product-wrap
          .product_img-wrap
            img(alt="" src='../assets/img/animation/lollipops.png')
          .product_title-wrapper
            .product_title-wrap
              p Kinder JOY
              p.product_price 20.50 грн <span>100 г</span>
            .product_number-wrap
              button.button_type-one <img src='../assets/img/minus.svg'>
              input.product_number_input(type="number")
              button.button_type-one <img src='../assets/img/plus.svg'>
          button.button_type-none
            img(alt="" src='../assets/img/delete.svg')
   .wrap-mod 
    .wrap.bottom
      .basket_total-title
        p.title-total <span class="basket_total-mob-mod">Всего:</span> <span id="total-priсe"> 820.00 грн</span> <span id="total-weight"> 4000 г</span>
        p.title-order Минимальный заказ 150 грамм
      button.button_type-one Оформить <span>заказ</span>


