.modal_bg#menu
  .container
    .title
      h1 Выбрать конфеты
      button.button_type-none  <img alt="закрить" src='../assets/img/close.svg'>
    .menu_wrap
      .manufacturer
        .wrap
          img(alt="готовые наборы" src='../assets/img/redy-box.png')
          h2.manufacturer_title Готовые наборы
      .manufacturer
        .wrap
          img(alt="Kinder" src='../assets/img/kinder.png')
          h2.manufacturer_title Kinder
      .manufacturer
        .wrap
          img(alt="Nestle" src='../assets/img/nestle.png')
          h2.manufacturer_title Nestle
      .manufacturer
        .wrap
          img(alt="Конти" src='../assets/img/konti.png')
          h2.manufacturer_title Конти
      .manufacturer
        .wrap
          img(alt="Рошен" src='../assets/img/roshen.png')
          h2.manufacturer_title Рошен
      .manufacturer
        .wrap
          img(alt="Свиточ" src='../assets/img/svitoch.png')
          h2.manufacturer_title Світоч
      .manufacturer
        .wrap
          img(alt="Бисквит шоколад" src='../assets/img/bsh.png')
          h2.manufacturer_title Бисквит шоколад
      .manufacturer
        .wrap
          img(alt="АВК" src='../assets/img/avk.png')
          h2.manufacturer_title АВК
