extends ../layout/layout

block variables
  - var title = 'ChoisBox';
  - var description = 'Backet Page';

block content
  section.backet-page
    .container
      .backet-page_wrap.left
        .title_wrap
          h1 Корзина
          p Конечная стоимость формируется после связи с менеджером
        .delivery-data   
          p.delivery-data_title Личные данные
          .input-wrapper  
            .wrap       
              label(for="fname") Имя*
              input#fname.input-type-one(placeholder="Сергей" )
            .wrap 
              label(for="fname") Фамилия*
              input#fname.input-type-one(placeholder="Сергеев" )
            .wrap 
              label(for="fname") Телефон*
              input#fname.input-type-one(type="tel" placeholder="+38 (ХХХ) ХХХ ХХ ХХ" )
            .wrap 
              label(for="fname") Почта*
              input#fname.input-type-one(placeholder="mail@gmail.com" )
        .delivery-data   
          p.delivery-data_title Доставка
          .input-wrapper
            .radio_wrap
              .input_wrap
                input(type="radio" class="custom-radio" id="nmail" name="radio-delivery")
                label(for="nmail") Новая Почта
              .input_wrap
                input(type="radio" class="custom-radio" id="delivery" name="radio-delivery")
                label(for="delivery") Delivery
              .input_wrap
                input(type="radio" class="custom-radio" id="car" name="radio-delivery")
                label(for="car") Личный транспорт <img src='../assets/img/question.svg'>
              .input_wrap
                input(type="radio" class="custom-radio" id="pickup" name="radio-delivery")
                label(for="pickup") Самовывозом <img src='../assets/img/question.svg'>
            .wrap 
              label(for="city") Город
              input#city.input-type-one(placeholder="Одесса" )
            .wrap 
              label(for="branchnum") Номер отделения
              input#branchnum.input-type-one(placeholder="1" )
            .wrap 
              label(for="address") Адрес
              input#address.input-type-one(placeholder="ул. Пушкина 1а" )
            .wrap.mod 
              label(for="address") Адрес*
              input#address.input-type-one(placeholder="ул. Пушкина 1а" )
              p <img src='../assets/img/exclamation.svg'> От 1000 шт в Одесскую и Николаевские области 
            .wrap.mod 
              label(for="point") Пункт выдачи*
              select#point.form-select.input-type-one(aria-label="Default select example")
                option(selected) Выберите пункт выдачи
                option( value="1" title="...") Paris

        .delivery-data   
          p.delivery-data_title Оплата
          .input-wrapper
            .radio_wrap
              .input_wrap
                input(type="radio" class="custom-radio" id="COD" name="radio-pay")
                label(for="COD") Наложным платежом  
              .input_wrap
                input(type="radio" class="custom-radio" id="transfer" name="radio-pay")
                label(for="transfer") Переводом на карту 
              .input_wrap
                input(type="radio" class="custom-radio" id="cashless" name="radio-pay")
                label(for="cashless") Безналичным расчётом

        .delivery-data   
          .wrap.mod
            label(for="comment") Комментарий
            textarea#city.input-type-one.textarea(placeholder="Есть дополнительная информация, которую нам нужно знать?" )

      .backet-page_wrap.right
        .title.flex_sb
          p Заказ
          a(hrex="#") Варианты коробок
        .product-block
          .products-wrapper
            .product-wrap
              .product_img-wrap
                img(alt="" src='../assets/img/animation/lollipops.png')
              .product_title-wrap
                p Kinder JOY
                p.product_price 20.50 грн <span>100 г</span>
              .product_number-wrap
                button.button_type-one <img src='../assets/img/minus.svg'>
                input.product_number_input(type="number")
                button.button_type-one <img src='../assets/img/plus.svg'>
              button.button_type-none
                img(alt="" src='../assets/img/delete.svg')
          .products-wrapper
            .product-wrap
              .product_img-wrap
                img(alt="" src='../assets/img/animation/lollipops.png')
              .product_title-wrap
                p Kinder JOY
                p.product_price 20.50 грн <span>100 г</span>
              .product_number-wrap
                button.button_type-one <img src='../assets/img/minus.svg'>
                input.product_number_input(type="number")
                button.button_type-one <img src='../assets/img/plus.svg'>
              button.button_type-none
                img(alt="" src='../assets/img/delete.svg')
          .products-wrapper
            .product-wrap
              .product_img-wrap
                img(alt="" src='../assets/img/animation/lollipops.png')
              .product_title-wrap
                p Kinder JOY
                p.product_price 20.50 грн <span>100 г</span>
              .product_number-wrap
                button.button_type-one <img src='../assets/img/minus.svg'>
                input.product_number_input(type="number")
                button.button_type-one <img src='../assets/img/plus.svg'>
              button.button_type-none
                img(alt="" src='../assets/img/delete.svg')
          .products-wrapper
            .product-wrap
              .product_img-wrap
                img(alt="" src='../assets/img/animation/lollipops.png')
              .product_title-wrap
                p Kinder JOY
                p.product_price 20.50 грн <span>100 г</span>
              .product_number-wrap
                button.button_type-one <img src='../assets/img/minus.svg'>
                input.product_number_input(type="number")
                button.button_type-one <img src='../assets/img/plus.svg'>
              button.button_type-none
                img(alt="" src='../assets/img/delete.svg')
          .products-wrapper
            .product-wrap
              .product_img-wrap
                img(alt="" src='../assets/img/animation/lollipops.png')
              .product_title-wrap
                p Kinder JOY
                p.product_price 20.50 грн <span>100 г</span>
              .product_number-wrap
                button.button_type-one <img src='../assets/img/minus.svg'>
                input.product_number_input(type="number")
                button.button_type-one <img src='../assets/img/plus.svg'>
              button.button_type-none
                img(alt="" src='../assets/img/delete.svg')

        .wrap.boxes
          p Количество коробок
          .product_number-wrap
            button.button_type-one <img src='../assets/img/minus.svg'>
            input.product_number_input(type="number")
            button.button_type-one <img src='../assets/img/plus.svg'>    
        .wrap.bottom
          .basket_total-title
            p.title-total Всего: <span id="total-priсe"> 820.00 грн</span> <span id="total-weight"> 4000 г</span>
            p.title-order Минимальный заказ 150 грамм
          button.button_type-one Оформить заказ
