extends ../layout/layout

block variables
  - var title = 'ChoisBox';
  - var description = 'Search Page';
  - var pageClass = 'search-page';

block content
  section.brand-head.brand-page
    .container
      .title
        .title_wrap
          h1 Kinder
          p.mod Найдено: <span>10</span> конфет
        .title_wrap
          p Сортировка по
          <select class="form-select mod" aria-label="Default select example">
            <option selected>По умолчанию</option>
            <option value="1" title="от дешевых к дорогим">от дешевых к дорогим</option>
            <option value="2" title="от дорогих к дешевым">от дорогих к дешевым</option>
          </select>
      .prod-wrap    
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        button.button_type-one Показать ещё <span>9</span> конфет
