extends ../layout/layout

block variables
  - var title = 'ChoisBox';
  - var description = 'Index Page';
  - var pageClass = 'index-page';

block content
  section.welcome
    .container
      .flex_sb
        .welcome_left
          h1 Подбери конфеты под свой вкус
          p Большой выбор конфет под любой вкус. Собери коробку 
            | для себя, на подарок или на любой другой случай в жизни.
            | Ведь с конфетами всегда слаще, чем без них.
            | Попробуй подобрать прям сейчас!
          button.button_type-one Выбрать конфеты
          nav.flex_sb
            li
              a(href="") Facebook
            li
              a(href="") Instagram
        .welcome_right
          img.lollipops(src='../assets/img/animation/lollipops.png' alt="Леденцы")      

  section.about-us
    .container
      .flex_sb  
        .about-us_left
          h2 О компании
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов. Но укрепление и развитие внутренней структуры не даёт нам иного выбора, кроме определения системы обучения кадров, соответствующей насущным потребностям.
          p С учётом сложившейся международной обстановки, дальнейшее развитие различных форм деятельности предопределяет высокую востребованность модели развития! Идейные соображения высшего порядка, а также реализация намеченных плановых заданий напрямую зависит от кластеризации усилий. 
        .about-us_right
          img(src='../assets/img/boxes.png' alt="Коробки") 
    .container.advantage
      h2 Преимущества
      .flex_sb.about-us_cards 
        .about-us_card
          img(src='../assets/img/cardCandys.png' alt="Две канцеты" )
          h3 Индивидуальные наборы
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.
        .about-us_card
          img(src='../assets/img/cardtopProducers.png' alt="Известные проиводители" )
          h3 Известные производители
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.
        .about-us_card
          img(src='../assets/img/cardhandCandy.png' alt="Рука с канфетой" )
          h3 Сборка набора самому
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.
    .container.work
      h2 Как это работает?
      .flex_sb.about-us_cards
        .about-us_card.mod 
          span 1
          h3 Выбираете конфеты
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.
        .about-us_card.mod 
          span 2
          h3 Закажите на сайте
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.
        .about-us_card.mod 
          span 3
          h3 Уточнение у менеджера
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.
        .about-us_card.mod 
          span 4
          h3 Получите посылку
          p Современные технологии достигли такого уровня, что реализация намеченных плановых заданий позволяет выполнить важные задания по разработке вывода текущих активов.








