extends ../layout/layout

block variables
  - var title = 'ChoisBox';
  - var description = 'Search Page';
  - var pageClass = 'search-page';

block content
  section.brand-head.search-page
    .container
      .title
        h1 Kinder сюрприз
        p Найдено: <span>10</span> конфет
      .prod-wrap    
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        .prod-card
          .prod-card_img-wrap
            img.prod-card_img(src='../assets/img/animation/lollipops.png' alt="Леденцы")
          .wrap
            h2 Kinder Сюрприз для девочек
            .prod-card_text
              p "Встречайте легендарную коллекцию игрушек в Белом яйце Kinder Сюрприз! Что внутри? Неизменно тот самый нежности и вообще...
              span Показать полностью
            .prod-card_bottom
              p.price-wrap <span class="prace"> 18.50</span> грн <span class="weight"> 100 г</span>
              button.button_type-one <img src='../assets/img/white-bascet.svg'>В корзину
        button.button_type-one Показать ещё <span>9</span> конфет
