header {
    .container{
        max-width: 1560px;
        &.mobile{
            display: none;
            .header_left{
                width: 50%;
                img{
                    width: 109px;
                }
            }
            .header_right{
                width: 40%;
                margin: auto 0;
            }
            .header_link_wrap{
                img{
                  width: 24px;
                  height: 24px; 
                }
            }
        }
    }
}
.header_link_wrap{
    cursor: pointer;
    span{
        margin-left: 12px;
        vertical-align: middle;
    }
    &button{
        background-color: none;
    }
}
.header_right{
    width: 15%;
    font-size: 18px;
    line-height: 21px;

}
.header_center{
    font-weight: bold;
    font-size: 24px;
    a{
        color: $danger-color ;
        &:hover{
            color: #911525;
        }
    }
}
@media (max-width: $ipadWidth){
    header {
    .container{
        display: none;
        &.mobile{
            display: block;
        }
    }
    }
    
}
