
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1") 

  body(class=pageClass)
    .wrapper
      include ../includes/modules/header
      .content-wrapper
        block content
      include ../modals/search
      include ../modals/menu
      include ../modals/basket-modal
      include ../includes/modules/footer-support
      include ../includes/modules/footer

    block script 